h1{
  font-family: Georgia, serif;
  text-align:center;
}





.form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    border: 2px solid red;
  }