h1{
  font-family: Georgia, serif;
  text-align: center;
  padding-top: 50px;
}

p{
  justify-content:center;
  padding: 0px 250px 20px 250px;
  font-size: 18px;
}


.button{
  cursor: pointer;
  text-align: center;
}